.cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0 30px;
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  &__total {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
